{% if site.douban_user %}
<section>
<h1>My douban show</h1>
<ul id="douban_show">
<li><script type="text/javascript" src="http://www.douban.com/service/badge/{{ site.douban_user }}/?show={{ site.douban_show }}&amp;select={{ site.douban_select }}&amp;n={{ site.douban_number }}&amp;columns={{ site.douban_columns }}{% if site.douban_hidelogo %}&amp;hidelogo=yes{% endif %}{% if site.douban_hideself %}&amp;hideself=yes{% endif %}&amp;cat={{ site.douban_categories }}{% if site.douban_picsize %}&amp;picsize={{ site.douban_picsize }}{% endif %}"></script>
    </li>
</ul>
</section>
{% endif %}
